<a href="https://colab.research.google.com/github/dbsheta/big-data-challenges-and-opportunities/blob/main/Workshop_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Workshop 1
Jan 12, 2022

---

In [1]:
import os
import pandas as pd
import numpy as np
import plotly as plt

In [5]:
from google.colab import drive

drive.mount('/content/drive')

os.listdir('/content/drive/MyDrive/Colab Notebooks/Python Workshops')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

['Prepared Course Notebooks', 'In Class Notebooks', 'Data Files']

In [10]:
os.chdir('/content/drive/MyDrive/Colab Notebooks/Python Workshops')
os.chdir('Data Files/AirBnB')
!ls

LA2020listings.csv  LA2020neighbourhoods.csv  LA2020reviews.csv

In [12]:
listings_la = pd.read_csv('LA2020listings.csv')

In [13]:
listings_la.head()

     id  ... availability_365
0   109  ...              216
1  2708  ...              360
2  2732  ...              337
3  2864  ...                0
4  5728  ...              337

[5 rows x 16 columns]